body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #434c5e;
    background: #2e3440;
    font-family: cursor, monospace;
    overflow-x: hidden;
  }
  ::selection {
    color: #211830;
    background-color: #a3be8c;
  }
  ::-moz-selection {
    color: #211830;
    background-color: #a3be8c;
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: #d8dee9;
    background-color: #d8dee9;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: #d8dee9;
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    color: #a3be8c;
    content: "user@zvdy.com:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #DCDCCC;
  }
  .color2 {
    color: #b48ead;
  }
  .command {
    color: #d8dee9;
    text-shadow: 0 0 5px #81a1c1; 
  }
  .error {
    color: #B89076;
  }
  .white {
    color: #fff;
  }
  .inherit,
  a {
    color: #b48ead;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: #81a1c1;
    color: #211830;
  }
  a:focus {
    outline: 0;
  }